In [1]:
import numpy as np
import pandas as pd

In [91]:
player_data = pd.read_csv('Players.csv')

In [92]:
player_data.head()

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [93]:
player_data.isnull().sum()

Unnamed: 0       0
Player           1
height           1
weight           1
collage        349
born             1
birth_city     470
birth_state    483
dtype: int64

In [94]:
player_data.shape

(3922, 8)

In [95]:
player_data = player_data.dropna(subset = ['Player'])

In [96]:
player_data.isnull().sum()

Unnamed: 0       0
Player           0
height           0
weight           0
collage        348
born             0
birth_city     469
birth_state    482
dtype: int64

In [97]:
player_data.sort_values(by = 'born', ascending=False)

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
3921,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina
3845,3845,Marquese Chriss,208.0,105.0,University of Washington,1997.0,Sacramento,California
3893,3893,Georgios Papagiannis,216.0,108.0,NaN,1997.0,Amarousio,Greece
3882,3882,Thon Maker,216.0,97.0,NaN,1997.0,South Sudan,NaN
3906,3906,Diamond Stone,211.0,115.0,University of Maryland,1997.0,Milwaukee,Wisconsin
3907,3907,Edy Tavares,211.0,115.0,NaN,1997.0,NaN,NaN
3838,3838,Dragan Bender,216.0,102.0,NaN,1997.0,Capljina,Bosnia and Herzegovina
3887,3887,Jamal Murray,193.0,93.0,University of Kentucky,1997.0,Kitchener,Canada
3869,3869,Brandon Ingram,206.0,86.0,Duke University,1997.0,Kinston,North Carolina
3852,3852,Henry Ellenson,211.0,111.0,Marquette University,1997.0,Rice Lake,Wisconsin
3901,3901,Domantas Sabonis,211.0,108.0,Gonzaga University,1996.0,Portland,Oregon
3919,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
3805,3805,Xavier Munford,196.0,90.0,NaN,1996.0,NaN,NaN
3804,3804,Emmanuel Mudiay,196.0,90.0,NaN,1996.0,Kinshasa,Democratic Republic of the Congo
3892,3892,Chinanu Onuaku,208.0,111.0,University of Louisville,1996.0,Baltimore,Maryland
3886,3886,Dejounte Murray,196.0,77.0,University of Washington,1996.0,Seattle,Washington
3794,3794,Kevon Looney,206.0,99.0,"University of California, Los Angeles",1996.0,Milwaukee,Wisconsin
3791,3791,Tyus Jones,188.0,88.0,Duke University,1996.0,Burnsville,Minnesota
3900,3900,Malachi Richardson,198.0,92.0,Syracuse University,1996.0,Trenton,New Jersey
3848,3848,Deyonta Davis,211.0,107.0,Michigan State University,1996.0,Muskegon,Michigan
3829,3829,Justise Winslow,201.0,102.0,Duke University,1996.0,Houston,Texas
3825,3825,Myles Turner,211.0,110.0,University of Texas at Austin,1996.0,Bedford,Texas
3826,3826,Rashad Vaughn,198.0,91.0,"University of Nevada, Las Vegas",1996.0,Minneapolis,Minnesota
3850,3850,Cheick Diallo,206.0,99.0,University of Kansas,1996.0,Kayes,Mali
3766,3766,Devin Booker,198.0,93.0,University of Kentucky,1996.0,Grand Rapids,Michigan
3835,3835,Wade Baldwin,193.0,91.0,Vanderbilt University,1996.0,Belle Mead,New Jersey
3910,3910,Tyler Ulis,178.0,68.0,University of Kentucky,1996.0,Detroit,Michigan
3836,3836,Malik Beasley,196.0,88.0,Florida State University,1996.0,Atlanta,Georgia
3876,3876,Skal Labissiere,211.0,102.0,University of Kentucky,1996.0,Port-Au-Prince,Haiti
3824,3824,Karl-Anthony Towns,213.0,110.0,University of Kentucky,1995.0,Edison,New Jersey
...,...,...,...,...,...,...,...,...
201,201,Art Spector,193.0,90.0,Villanova University,1920.0,Philadelphia,Pennsylvania
98,98,Bob Kinney,198.0,97.0,Rice University,1920.0,Fort Scott,Kansas
199,199,Chips Sobek,183.0,81.0,University of Notre Dame,1920.0,NaN,NaN
59,59,Frank Gates,183.0,72.0,Sam Houston State University,1920.0,NaN,NaN
206,206,Bob Tough,183.0,83.0,St. John's University,1920.0,New York,New York
207,207,Blackie Towery,193.0,95.0,Western Kentucky University,1920.0,Caldwell,Kentucky
91,91,Arnie Johnson,196.0,107.0,Bemidji State University,1920.0,Gonvick,Minnesota
39,39,Bob Davies*,185.0,79.0,Seton Hall University,1920.0,Harrisburg,Pennsylvania
1395,1395,Lewis Brown,190.0,86.0,University of Wyoming,1919.0,NaN,NaN
43,43,Bob Doll,196.0,88.0,University of Colorado,1919.0,Steamboat Springs,Colorado
23,23,Don Carlson,183.0,77.0,University of Minnesota,1919.0,Minneapolis,Minnesota
71,71,Chick Halbert,206.0,102.0,West Texas A&M University,1919.0,Albany,Texas
73,73,Dale Hamilton,183.0,81.0,Franklin College,1919.0,NaN,NaN
123,123,Bones McKinney,198.0,83.0,University of North Carolina,1919.0,Lowlands,North Carolina
117,117,John Mandic,193.0,92.0,Oregon State University,1919.0,Los Angeles,California
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
56,56,Elmer Gainer,198.0,88.0,DePaul University,1918.0,Chicago,Illinois
197,197,Belus Smawley,185.0,88.0,Appalachian State University,1918.0,Golden Valley,North Carolina
72,72,Bruce Hale,185.0,77.0,Santa Clara University,1918.0,Medford,Oregon
179,179,Herm Schaefer,183.0,79.0,Indiana University,1918.0,Fort Wayne,Indiana
24,24,Bob Carpenter,196.0,90.0,East Texas State University,1917.0,NaN,NaN
26,26,Al Cervi*,180.0,77.0,NaN,1917.0,Buffalo,New York
47,47,Gene Englund,196.0,92.0,University of Wisconsin,1917.0,Kenosha,Wisconsin
90,90,Buddy Jeannette*,180.0,79.0,Washington & Jefferson College,1917.0,New Kensington,Pennsylvania
185,185,Dick Schulz,188.0,87.0,University of Wisconsin,1917.0,Racine,Wisconsin
176,176,Ed Sadowski,196.0,108.0,Seton Hall University,1917.0,Johnstown,Pennsylvania
143,143,Mike Novak,206.0,99.0,Loyola University of Chicago,1915.0,Chicago,Illinois
683,683,Matt Guokas,190.0,88.0,Saint Joseph's University,1915.0,NaN,NaN
168,168,Chick Reiser,180.0,74.0,New York University,1914.0,NaN,NaN
195,195,Charley Shipp,185.0,90.0,Catholic University of America,1913.0,NaN,NaN

In [98]:
season_stats_data = pd.read_csv('Seasons_Stats.csv')

In [99]:
season_stats_data.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [100]:
season_stats_data.isnull().sum()

Unnamed: 0        0
Year             67
Player           67
Pos              67
Age              75
Tm               67
G                67
GS             6458
MP              553
PER             590
TS%             153
3PAr           5852
FTr             166
ORB%           3899
DRB%           3899
TRB%           3120
AST%           2136
STL%           3899
BLK%           3899
TOV%           5109
USG%           5051
blanl         24691
OWS             106
DWS             106
WS              106
WS/48           590
blank2        24691
OBPM           3894
DBPM           3894
BPM            3894
VORP           3894
FG               67
FGA              67
FG%             166
3P             5764
3PA            5764
3P%            9275
2P               67
2PA              67
2P%             195
eFG%            166
FT               67
FTA              67
FT%             925
ORB            3894
DRB            3894
TRB             379
AST              67
STL            3894
BLK            3894
TOV            5046
PF               67
PTS              67
dtype: int64

In [101]:
season_stats_data.sort_values(by = 'Player', ascending=False)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
14176,14176,1999.0,Zydrunas Ilgauskas,C,23.0,CLE,5.0,5.0,171.0,17.5,...,0.600,17.0,27.0,44.0,4.0,4.0,7.0,9.0,24.0,76.0
17902,17902,2006.0,Zydrunas Ilgauskas,C,30.0,CLE,78.0,78.0,2283.0,21.9,...,0.834,245.0,346.0,591.0,91.0,38.0,136.0,155.0,280.0,1217.0
20187,20187,2010.0,Zydrunas Ilgauskas,C,34.0,CLE,64.0,6.0,1339.0,11.9,...,0.743,114.0,231.0,345.0,48.0,14.0,50.0,63.0,183.0,474.0
19600,19600,2009.0,Zydrunas Ilgauskas,C,33.0,CLE,65.0,65.0,1765.0,18.0,...,0.799,157.0,333.0,490.0,64.0,28.0,84.0,90.0,183.0,838.0
13635,13635,1998.0,Zydrunas Ilgauskas,C,22.0,CLE,82.0,81.0,2379.0,19.7,...,0.762,279.0,444.0,723.0,71.0,52.0,135.0,146.0,288.0,1139.0
19003,19003,2008.0,Zydrunas Ilgauskas,C,32.0,CLE,73.0,73.0,2222.0,18.7,...,0.802,263.0,419.0,682.0,104.0,34.0,120.0,135.0,247.0,1029.0
15185,15185,2001.0,Zydrunas Ilgauskas,C,25.0,CLE,24.0,24.0,616.0,16.0,...,0.679,65.0,95.0,160.0,18.0,15.0,37.0,60.0,78.0,281.0
15720,15720,2002.0,Zydrunas Ilgauskas,C,26.0,CLE,62.0,23.0,1329.0,17.4,...,0.754,136.0,198.0,334.0,70.0,17.0,84.0,94.0,187.0,690.0
20802,20802,2011.0,Zydrunas Ilgauskas,C,35.0,MIA,72.0,51.0,1145.0,12.8,...,0.783,108.0,179.0,287.0,26.0,23.0,58.0,52.0,185.0,360.0
16737,16737,2004.0,Zydrunas Ilgauskas,C,28.0,CLE,81.0,81.0,2539.0,20.2,...,0.746,279.0,374.0,653.0,109.0,39.0,201.0,163.0,277.0,1237.0
16212,16212,2003.0,Zydrunas Ilgauskas,C,27.0,CLE,81.0,81.0,2432.0,19.4,...,0.781,240.0,371.0,611.0,127.0,56.0,152.0,210.0,274.0,1390.0
18442,18442,2007.0,Zydrunas Ilgauskas,C,31.0,CLE,78.0,78.0,2130.0,18.0,...,0.807,242.0,357.0,599.0,123.0,48.0,98.0,141.0,257.0,925.0
17328,17328,2005.0,Zydrunas Ilgauskas,C,29.0,CLE,78.0,78.0,2615.0,19.5,...,0.799,299.0,373.0,672.0,100.0,53.0,165.0,191.0,313.0,1320.0
16912,16912,2004.0,Zoran Planinic,SG,21.0,NJN,49.0,1.0,473.0,10.0,...,0.633,14.0,41.0,55.0,68.0,13.0,3.0,36.0,70.0,153.0
17492,17492,2005.0,Zoran Planinic,PG,22.0,NJN,43.0,8.0,515.0,12.5,...,0.697,19.0,50.0,69.0,44.0,25.0,0.0,41.0,76.0,217.0
18061,18061,2006.0,Zoran Planinic,PG,23.0,NJN,56.0,1.0,596.0,6.9,...,0.697,14.0,60.0,74.0,53.0,20.0,4.0,43.0,91.0,191.0
23032,23032,2015.0,Zoran Dragic,SG,25.0,TOT,16.0,1.0,75.0,8.2,...,0.600,5.0,3.0,8.0,5.0,2.0,0.0,5.0,6.0,28.0
23033,23033,2015.0,Zoran Dragic,SG,25.0,PHO,6.0,0.0,13.0,9.1,...,0.667,2.0,1.0,3.0,1.0,0.0,0.0,0.0,1.0,6.0
23034,23034,2015.0,Zoran Dragic,SG,25.0,MIA,10.0,1.0,62.0,8.0,...,0.500,3.0,2.0,5.0,4.0,2.0,0.0,5.0,5.0,22.0
15154,15154,2001.0,Zendon Hamilton,C,25.0,LAC,3.0,0.0,19.0,5.7,...,0.625,3.0,5.0,8.0,0.0,0.0,0.0,2.0,4.0,9.0
17290,17290,2005.0,Zendon Hamilton,C,29.0,MIL,16.0,0.0,159.0,10.4,...,0.604,18.0,24.0,42.0,6.0,5.0,2.0,12.0,26.0,51.0
15688,15688,2002.0,Zendon Hamilton,PF,26.0,DEN,54.0,15.0,848.0,13.5,...,0.652,110.0,143.0,253.0,14.0,21.0,18.0,60.0,104.0,324.0
17871,17871,2006.0,Zendon Hamilton,C,30.0,PHI,1.0,0.0,3.0,8.2,...,0.500,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
17869,17869,2006.0,Zendon Hamilton,C,30.0,TOT,12.0,0.0,49.0,17.6,...,0.667,3.0,8.0,11.0,0.0,4.0,0.0,6.0,5.0,26.0
17870,17870,2006.0,Zendon Hamilton,C,30.0,CLE,11.0,0.0,46.0,18.2,...,0.688,3.0,8.0,11.0,0.0,3.0,0.0,6.0,4.0,25.0
16702,16702,2004.0,Zendon Hamilton,C,28.0,PHI,46.0,0.0,473.0,15.9,...,0.698,49.0,97.0,146.0,13.0,8.0,8.0,27.0,74.0,169.0
16176,16176,2003.0,Zendon Hamilton,C,27.0,TOR,3.0,0.0,12.0,17.7,...,1.000,1.0,3.0,4.0,0.0,1.0,0.0,1.0,2.0,6.0
2357,2357,1967.0,Zelmo Beaty*,C,27.0,STL,48.0,NaN,1661.0,16.5,...,0.758,NaN,NaN,515.0,60.0,NaN,NaN,NaN,189.0,853.0
2085,2085,1965.0,Zelmo Beaty*,C,25.0,STL,80.0,NaN,2916.0,17.2,...,0.715,NaN,NaN,966.0,111.0,NaN,NaN,NaN,328.0,1351.0
2493,2493,1968.0,Zelmo Beaty*,C,28.0,STL,82.0,NaN,3068.0,19.3,...,0.794,NaN,NaN,959.0,174.0,NaN,NaN,NaN,295.0,1733.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8680,8680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9107,9107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9546,9546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10006,10006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10448,10448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10907,10907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11357,11357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11839,11839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12292,12292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12838,12838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13413,13413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13961,13961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14469,14469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14966,14966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15504,15504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16005,16005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16489,16489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17075,17075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17661,17661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18225,18225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18742,18742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19338,19338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19921,19921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20500,20500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21126,21126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21678,21678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22252,22252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22864,22864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23516,23516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24095,24095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
season_stats_data = season_stats_data.dropna(subset = ['Tm'])

In [67]:
# season_stats_data.isnull().sum()

In [ ]:
#pravila pridruzivanja csv:

In [51]:
for i, v in player_data.groupby('Player')['Unnamed: 0'].nunique().items():
    if v > 1:
        print i

In [56]:
player_data = player_data.dropna(subset = ['collage'])

In [59]:
player_college = player_data['collage'].unique()

In [63]:
player_college = np.sort(player_college) #numpy array of all unique colleges

In [69]:
player_teams = season_stats_data['Tm'].unique()

In [71]:
player_teams = np.sort(player_teams)

array(['AND', 'ATL', 'BAL', 'BLB', 'BOS', 'BRK', 'BUF', 'CAP', 'CHA',
       'CHH', 'CHI', 'CHO', 'CHP', 'CHS', 'CHZ', 'CIN', 'CLE', 'DAL',
       'DEN', 'DET', 'DNN', 'FTW', 'GSW', 'HOU', 'IND', 'INO', 'KCK',
       'KCO', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN', 'MLH', 'MNL',
       'NJN', 'NOH', 'NOJ', 'NOK', 'NOP', 'NYK', 'NYN', 'OKC', 'ORL',
       'PHI', 'PHO', 'PHW', 'POR', 'ROC', 'SAC', 'SAS', 'SDC', 'SDR',
       'SEA', 'SFW', 'SHE', 'STB', 'STL', 'SYR', 'TOR', 'TOT', 'TRI',
       'UTA', 'VAN', 'WAS', 'WAT', 'WSB', 'WSC'], dtype=object)

In [74]:
def cartesian(arrays, out=None):
    arrays = [np.asarray(x) for x in arrays]
    dtype = arrays[0].dtype

    n = np.prod([x.size for x in arrays])
    if out is None:
        out = np.zeros([n, len(arrays)], dtype=dtype)

    m = n / arrays[0].size
    out[:,0] = np.repeat(arrays[0], m)
    if arrays[1:]:
        cartesian(arrays[1:], out=out[0:m,1:])
        for j in xrange(1, arrays[0].size):
            out[j*m:(j+1)*m,1:] = out[0:m,1:]
    return out

In [76]:
college_teams = cartesian((player_college, player_teams))

In [79]:
college_teams.shape

(29118, 2)

In [84]:
college_teams

array([['Acadia University', 'FTW'],
       ['Acadia University', 'INO'],
       ['Acadia University', 'CHS'],
       ...,
       ['Youngstown State University', 'BRK'],
       ['Youngstown State University', 'NOP'],
       ['Youngstown State University', 'CHO']], dtype=object)

In [81]:
type(college_teams)

numpy.ndarray

In [85]:
# np.savetxt("pravila_pridruzivanja.csv", college_teams, delimiter=",")

In [86]:
pf = pd.DataFrame(college_teams)

In [88]:
pf.head()

                   0    1
0  Acadia University  FTW
1  Acadia University  INO
2  Acadia University  CHS
3  Acadia University  TOT
4  Acadia University  DNN

In [90]:
pf.to_csv("pravila_pridruzivanja.csv")